node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build / Cache
dist/
build/
coverage/
.tmp/
.cache/
.DS_Store

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/**/README.md
prisma/*.log
prisma/*.sqlite

# Logs
logs/
*.log
*.tmp
*.out

# Sistema
.idea/
.vscode/
*.swp
*.swo
*.bak
*.old

# Testes
jest-html-reporters-*
test-results/
coverage/

# PM2 / Nodemon / Docker
pids/
*.pid
*.seed
*.pid.lock
.nodemonignore
.Dockerfile
docker-compose*.yml
docker-data/

# Uploads temporários (caso tenha)
uploads/
temp/
tmp/